<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<h2>This is Node.ACS sample application</h2>
		<form action="/login" method="post">
			<div>Name<input type="text" name="name"/></div>
			<div>UID<input type="text" name="uid"/></div>
			<div>PWD<input type="password" name="pwd"/></div>
			<div><input type="submit" value="Go"></div>
		</form>
	</body>
</html>
